@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #fff;
  font-family: 'Manrope', sans-serif;
  /* prevents the blue highlight when clicking on buttons/links */
  -webkit-tap-highlight-color: transparent;
}


.react-calendar{
  border: none !important;
  background-color: transparent !important;
  font-family: 'Manrope', sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}

.react-calendar__navigation__label span {
  color: #1E3449 !important;
  font-family: 'Manrope', sans-serif !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.react-calendar__navigation{
  background-color: transparent;
  display: flex;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
button.react-calendar__navigation__arrow.react-calendar__navigation__next-button  {
  background-color: #fff;
  border: 1px solid #F0F2F3 !important;
  border-radius: 12px;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}


.react-calendar__month-view__weekdays {
  background-color: #fff;
  border: 1px solid #F0F2F3;
  border-radius: 12px;
}

button.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day{
 
  border-radius: 12px;
  z-index: 0;
}

button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  color: #1E3449 !important;
}

.react-calendar__month-view__weekdays {
  text-decoration: none !important;
}