@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #fff;
  font-family: 'Manrope', sans-serif;
  /* prevents the blue highlight when clicking on buttons/links */
  -webkit-tap-highlight-color: transparent;
}